[submodule "bin/YPasswordCLI"]
	path = bin/YPasswordCLI
	url = git://github.com/yogsototh/YPasswordCLI.git
[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/syl20bnr/spacemacs
[submodule ".vim/.vim/pack/plugins/nerdtree"]
	path = .vim/pack/plugins/start/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule ".vim/.vim/pack/plugins/nerdcommenter"]
	path = .vim/pack/plugins/start/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/.vim/pack/plugins/vim-blackboard"]
	path = .vim/pack/plugins/start/vim-blackboard
	url = https://github.com/nelstrom/vim-blackboard.git
[submodule ".vim/.vim/pack/plugins/vim-surround"]
	path = .vim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/pack/plugins/vim-airline"]
	path = .vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/plugins/start/vim-syntastic"]
	path = .vim/pack/plugins/start/vim-syntastic
	url = https://github.com/vim-syntastic/syntastic.git
