[user]
	name = Tim Baumann
	email = tim@timbaumann.info
[core]
	editor = vim
	excludesfile = /home/tim/.gitexcludes
[giggle]
	main-window-maximized = false
	main-window-geometry = 823x615+91+24
	file-view-vpane-position = 422
	history-view-vpane-position = 332
	main-window-view = HistoryView
[color]
	ui = true
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[push]
	default = simple
