[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "home/.vim/bundle/nerdcommenter"]
	path = home/.vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "home/.vim/bundle/vim-blackboard"]
	path = home/.vim/bundle/vim-blackboard
	url = https://github.com/nelstrom/vim-blackboard.git
[submodule "home/.vim/bundle/vim-markdown"]
	path = home/.vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "home/.vim/bundle/lesscss"]
	path = home/.vim/bundle/lesscss
	url = git://gist.github.com/369178.git
[submodule "home/.vim/bundle/vim-json"]
	path = home/.vim/bundle/vim-json
	url = https://github.com/leshill/vim-json.git
[submodule "home/.vim/bundle/zencoding-vim"]
	path = home/.vim/bundle/zencoding-vim
	url = https://github.com/mattn/zencoding-vim.git
[submodule "home/.vim/bundle/googlereader-vim"]
	path = home/.vim/bundle/googlereader-vim
	url = https://github.com/xmlblog/googlereader-vim.git
[submodule "home/.vim/bundle/vim-easytags"]
	path = home/.vim/bundle/vim-easytags
	url = https://github.com/spf13/vim-easytags.git
[submodule "home/.vim/bundle/snipmate"]
	path = home/.vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "home/.vim/bundle/vim-surround"]
	path = home/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "home/.vim/bundle/vim-mac-classic-theme"]
	path = home/.vim/bundle/vim-mac-classic-theme
	url = https://github.com/nelstrom/vim-mac-classic-theme.git
