.DS_Store

/bin/stack

/.vim/.netrwhist

/.xmonad/xmonad.errors
/.xmonad/xmonad.hi
/.xmonad/xmonad.o
/.xmonad/xmonad-i386-linux

/.emacs.d/backups
/.emacs.d/auto-save-list
/.emacs.d/elpa
/.emacs.d/.smex-items
/.emacs.d/places

/.atom/compile-cache
/.atom/packages
/.atom/storage
/.atom/.apm
/.atom/.gitignore
