[core]
	editor = vim
	excludesfile = ~/.gitexcludes
[giggle]
	main-window-maximized = false
	main-window-geometry = 823x615+91+24
	file-view-vpane-position = 422
	history-view-vpane-position = 332
	main-window-view = HistoryView
[color]
	ui = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	default = simple
[includeIf "gitdir:~/Projects/**"]
	path = ~/.gitconfig-personal
[includeIf "gitdir:~/Work/**"]
	path = ~/.gitconfig-work
[alias]
	aa = add all
	co = checkout
	fo = fetch origin
	rom = rebase origin/master
