-- 6.12.3
Arrows
BangPatterns
CPP
ConstrainedClassMethods
DeriveDataTypeable
DeriveFoldable
DeriveFunctor
DeriveTraversable
DisambiguateRecordFields
DoRec
EmptyDataDecls
ExistentialQuantification
ExplicitForAll
ExtendedDefaultRules
FlexibleContexts
FlexibleInstances
ForeignFunctionInterface
FunctionalDependencies
GADTs
GHCForeignImportPrim
GeneralizedNewtypeDeriving
Generics
ImplicitParams
ImplicitPrelude
ImpredicativeTypes
IncoherentInstances
KindSignatures
LiberalTypeSynonyms
MagicHash
MonoLocalBinds
MonoPatBinds
MonomorphismRestriction
MultiParamTypeClasses
NPlusKPatterns
NamedFieldPuns
NewQualifiedOperators
OverlappingInstances
OverloadedStrings
PArr
PackageImports
ParallelListComp
PatternGuards
PatternSignatures
PolymorphicComponents
PostfixOperators
QuasiQuotes
Rank2Types
RankNTypes
RecordPuns
RecordWildCards
RecursiveDo
RelaxedPolyRec
ScopedTypeVariables
StandaloneDeriving
TemplateHaskell
TransformListComp
TupleSections
TypeFamilies
TypeOperators
TypeSynonymInstances
UnboxedTuples
UndecidableInstances
UnicodeSyntax
UnliftedFFITypes
ViewPatterns
--
-fasm-mangling
-fdo-lambda-eta-expansion
-fembed-manifest
-fgen-manifest
-fignore-interface-pragmas
-fimplicit-import-qualified
-fmethod-sharing
-fno-break-on-error
-fno-break-on-exception
-fno-building-cabal-package
-fno-case-merge
-fno-convert-to-zipper-and-back
-fno-cse
-fno-dicts-cheap
-fno-do-eta-reduction
-fno-eager-blackholing
-fno-enable-rewrite-rules
-fno-excess-precision
-fno-ext-core
-fno-force-recomp
-fno-full-laziness
-fno-hpc-no-auto
-fno-ignore-asserts
-fno-inline-if-enough-args
-fno-liberate-case
-fno-new-codegen
-fno-print-bind-result
-fno-print-evld-with-show
-fno-print-explicit-foralls
-fno-regs-graph
-fno-regs-iterative
-fno-rewrite-rules
-fno-run-cps
-fno-run-cpsz
-fno-spec-constr
-fno-static-argument-transformation
-fno-strictness
-fno-unbox-strict-fields
-fno-vectorise
-fno-warn-dodgy-exports
-fno-warn-dodgy-imports
-fno-warn-hi-shadowing
-fno-warn-implicit-prelude
-fno-warn-incomplete-patterns
-fno-warn-incomplete-record-updates
-fno-warn-missing-signatures
-fno-warn-monomorphism-restriction
-fno-warn-name-shadowing
-fno-warn-orphans
-fno-warn-simple-patterns
-fno-warn-tabs
-fno-warn-type-defaults
-fno-warn-unused-binds
-fno-warn-unused-do-bind
-fno-warn-unused-imports
-fno-warn-unused-matches
-fomit-interface-pragmas
-fprint-bind-contents
-fshared-implib
-fwarn-deprecated-flags
-fwarn-deprecations
-fwarn-dodgy-foreign-imports
-fwarn-duplicate-exports
-fwarn-lazy-unlifted-bindings
-fwarn-missing-fields
-fwarn-missing-methods
-fwarn-overlapping-patterns
-fwarn-unrecognised-pragmas
-fwarn-warnings-deprecations
-fwarn-wrong-do-bind
