[user]
	name = Tim Baumann
	email = tim@timbaumann.info
[core]
	editor = /usr/bin/vim
	excludesfile = /home/tim/.gitexcludes
[ui]
	color = auto
[giggle]
	main-window-maximized = false
	main-window-geometry = 823x615+247+107
	file-view-vpane-position = 422
	history-view-vpane-position = 446
	main-window-view = FileView
